{% load humanize %}

<h3>{{ carrier.name|title }}</h3>
<table class="table">
  <thead>
    <tr>
      <th>Class Code</th>
      <th>Rate</th>
      <th>Payroll</th>
      <th>Premium</th>
    </tr>
  {% for ccode in carrier_data.class_codes %}
  <tr>
    <td>
      {{ ccode.code.class_code }}
    </td>
    <td> {{ ccode.rate }}</td>
    <td>${{ ccode.code.payroll|intcomma }}</td>
    <td>${{ ccode.premium|intcomma}}</td>
  </tr>
  {% endfor %}
  <tr><td colspan="4">&nbsp;</td></tr>
  <tr>
    <td></td>
    <td>Modification Factor</td>
    <td>{{ request.session.form.mod }}</td>
    <td>${{ carrier_data.total_mod|intcomma }}</td>
  </tr>
  <tr>
    <td></td>
    <td>Manual Premium</td>
    <td></td>
    <td>$<span id="premium">{{ carrier_data.manual|intcomma }}</span></td>
  </tr>
  <tr>
    <td></td>
    <td>Estimated Debits Credit**</td>
    <td>
      <div id="slider"></div>
      <div style="text-align:center;" id="percent">0%</div>
    </td>
    <td>$<span id="credit">0</span></td>
  </tr>
  <tr>
    <td></td>
    <td>Expense Constant</td>
    <td></td>
    <td>${{ carrier_data.expense_constant|intcomma }}</td>
  </tr>
  <tr>
    <td></td>
    <td>Terrorism Fee</td>
    <td></td>
    <td>${{ carrier_data.terror_fee|intcomma }}</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td><strong>Estimate</strong></td>
    <td><strong>$<span id="estimate" data-original="{{ carrier_data.estimate}}">{{ carrier_data.estimate|intcomma }}</span></strong></td>
  </tr>
</table>
