{% load humanize %}

<table class="table" id="table_view">
  <thead>
    <tr>
      <th>Carrier</th>
      <th>&nbsp;</th>
      {% for cc in num_class_codes %}
        <th>Rate {{ forloop.counter }}</th>
        {% endfor %}
      <th>Max</th>
      <th>Manual</th>
      <th>Min</th>
      <th>Estimate</th>
    </tr>
  </thead>
  {% for c in request.session.carriers %}
  <tr>
    <td>
      <input type="checkbox"> &nbsp;<a class="carrier_detail" href="{% url "detail" c.carrier.carrier.id %}">{{ c.carrier.carrier.name|title }}</a>
    </td>
    <td>
      {% if c.carrier.premium < 200000 %}<img src="static/img/red-flag.png">{% endif %}
      {% if c.carrier.premium > 1000000 %}<img src="static/img/green-flag.png">{% endif %}
    </td>
    {% for cc in c.class_codes %}
      <td>{{ cc.rate }}</td>
    {% endfor %}
    <td>${{ c.max|intcomma }}</td>
    <td>${{ c.manual|intcomma }}</td>
    <td>${{ c.min|intcomma }}</td>
    <td>${{ c.estimate|intcomma }}</td>
  </tr>
  {% endfor %}
</table>
