{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="span9"> 
	<h2>Thanks for checking out my project</h2>
	</div>
  </div>

 <div class="row">
    <div class="span2">
      <img src="http://m.c.lnkd.licdn.com/media/p/5/000/24c/24c/2084856.jpg"  alt="" class="img-rounded">
    </div>
    <div class="span4">
      <blockquote>
        <p>Brian Cook</p>
        <small><cite title="Source Title">Wellington, New Zealand  <i class="icon-map-marker"></i></cite></small>
      </blockquote>
      <p>
        <i class="icon-envelope"></i> briancookt@gmail.com <br>
        <i class="icon-globe"></i> www.briantcook.com <br>
      </p>
    </div>
    
    <div class="span6">
      <h2>Contact Me</h2>
      <form>
          <div class="controls controls-row">
              <input id="name" name="name" type="text" class="span3" placeholder="Name"> 
              <input id="email" name="email" type="email" class="span3" placeholder="Email address">
          </div>
          <div class="controls">
              <textarea id="message" name="message" class="span6" placeholder="Your Message" rows="5"></textarea>
          </div>
          
          <div class="controls">
              <button id="contact-submit" type="submit" class="btn btn-primary input-medium pull-right">Send</button>
          </div>
      </form>
    </div>
     
  </div>
</div>

{% endblock content %}
