{% extends 'base.html' %}
{% load humanize %}

{% block content %}
 <div class="container">

      <div class="hero-unit">
        <h1>Price Workers Comp in Seconds</h1>
        <p>Hundreds of estimates from every carrier using just the state, class code, payroll, and mod. Stop the endless submissions to every company, discover the lowest priced option in ten seconds or less!</p>
        <p><a href="/search" class="btn btn-primary btn-large">Try It &raquo;</a></p>
      </div>

      <!-- put value adds here -->
      <div class="row">
        <div class="span4">
          <h2>Class Code Flags</h2>
          <p>Always wondered what makes underwriters tick and reasons for declinations? Learn the sticking points for carriers with our unique flag system and ask clients the right questions upfront.</p>
          <p><a class="btn" href="/search">Learn More &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Compare Carriers</h2>
          <p>Dealing with underwriting questions, declinations, and follow up calls all day? Cut your quote turnaround time in half by comparing 3 carriers side by side and adjusting credits and debits.</p>
          <p><a class="btn" href="/search">Estimate Quote &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Feedback Welcome</h2>
          <p>CompMatrix was built to help insurance agents. We are still working but in the spirit of releasing early and often the beta version is now available. Features you would like to see?</p>
          <p><a class="btn" href="/contact">Contact Us &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; CompMatrix 2013</p>
      </footer>

    </div> <!-- /container -->
{% endblock content %}
