{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<style>
  .center {text-align: center; margin-left: auto; margin-right: auto; margin-bottom: auto; margin-top: auto;}
</style>
<title>Thanks for your message</title>
<body>
  <div class="hero-unit center">
    <h1>We love feedback!</h1>
    <br />
    <p>We are doing our best to improve CompMatrix as fast as possible so it can become a useful tool for insurance agents. Thank you for visiting.
    <a href="/" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Take Me Home</a>
  </div>
</body>

{% endblock content %}
